PROJECT_NAME=Sistema Comercial Multisucursal API
VERSION=1.0.0
API_V1_STR=/api/v1

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=sistema_comercial

SECRET_KEY=tu_clave_super_secreta
ACCESS_TOKEN_EXPIRE_MINUTES=60